:root {
  --text-sm: 0.9rem;
  --text-md: 1.25rem;
  --text-xl: 1.5rem;
  --text-2xl: 2rem;

  --primary-hsl: 240, 100%;
  --active-hsl: 134, 61%;

  --color-primary-300: hsl(var(--primary-hsl), 65%);
  --color-primary-500: hsl(var(--primary-hsl), 50%);
  --color-primary-700: hsl(var(--primary-hsl), 35%);
  --color-primary-900: hsl(var(--primary-hsl), 10%);
  --color-active-500: hsl(var(--active-hsl), 41%);
  --color-active-700: hsl(var(--active-hsl), 31%);

  --font-roboto: "Roboto", sans-serif;
  --font-glitch: "Rubik Glitch", system-ui;
}

/* 1. Global / Reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-roboto);
  background-color: var(--color-primary-700);
  color: white;
}

/* 2. Block: Page */

.page {
  background-color: transparent;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.page__title {
  font-size: var(--text-2xl);
  font-family: var(--font-glitch);
  padding-block: 2rem;
  text-shadow: 2px 2px 8px hsl(var(--primary-hsl), 5%);
  text-align: center;
}
.page__footer {
  text-align: center;
  justify-self: end;
  margin-top: auto;
  padding: 1rem;
}

/* 3. Block: Section */

.section__title {
  font-size: var(--text-xl);
  color: var(--color-primary-500);
  margin: 0.25rem;
  text-align: center;
}
.section__input,
.section__text-area {
  font-size: var(--text-sm);
}
.section__input:focus,
.section__text-area:focus {
  outline: 2px solid var(--color-primary-500);
}

/* 4. Block: Card */

.card {
  min-height: 5rem;
  margin: 1rem 2rem;
  padding-inline: 1rem;
  background:
    linear-gradient(
      135deg,
      hsla(0, 0%, 100%, 0.5) 0%,
      hsla(0, 0%, 100%, 0.1) 50%,
      transparent 100%
    ),
    hsla(0, 0%, 100%, 0.9);

  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: var(--color-primary-900);
  border-radius: 0.25rem;
  filter: drop-shadow(4px 4px 10px hsl(var(--primary-hsl), 5%));
  transition: filter 0.3s ease;
}
.card:hover {
  filter: drop-shadow(8px 8px 15px hsl(var(--primary-hsl), 2%));
}
.card--new-post {
  border: 1px solid var(--color-primary-500);
  margin: 1rem;
}
.card__actions,
.feed__controls {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.card--add {
  padding-top: 0.25rem;
}
.card--feed {
  padding-bottom: 1rem;
}

/* 5. Block: Button */

.btn {
  background-color: white;
  color: var(--color-primary-500);
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
}
.btn:hover,
.btn--primary:hover {
  background-color: var(--color-active-500);
  color: white;
}
.btn:focus {
  background-color: var(--color-active-500);
  color: white;
  border: 2px solid var(--color-active-700);

  transform: scale(1.05);
  transition: all 0.2s ease;
}
.btn:active {
  /* Visuals */
  background-color: white;
  color: var(--color-active-500);
  box-shadow: 0 0 15px var(--color-active-500);

  /* Misc */
  transform: translateY(2px); /* Moves down slightly */
}

.btn--primary {
  background-color: var(--color-primary-500);
  color: white;
  margin: 0.5rem;
  place-self: center;
}
.btn--primary:focus {
  background-color: var(--color-primary-500);
  border: 1px solid black;
}
.btn--accent {
  background-color: var(--color-primary-500);
  color: white;
}
.btn--like,
.btn--delete {
  place-self: center;
}
.btn--active {
  /* This handles the "Sticky" state (Post is Liked) */
  background-color: var(--color-active-500);
  color: white;
}

/* 6. Block: Feed */

.feed {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.feed__container {
  display: flex;
  flex-direction: column;
  padding: 0;
  list-style-type: none;
}
.feed__item {
  background-color: var(--color-primary-700);
  color: white;
  margin: 0.25rem;
  padding: 1rem;
  border-radius: 0.25rem;
  text-align: center;
}
.feed__container,
.find__feed {
  max-height: 40rem;
  overflow-y: auto;
  padding-right: 10px;
}
/* 7. Block Find */

.find__form {
  display: flex;
  flex-direction: column;
}
.find__submit {
  display: flex;
  place-items: center;
}

/* 8. media queries */

@media screen and (max-width: 350px) {
  .feed__controls {
    gap: 0;
  }
}
