:root {
  --text-sm: 0.9rem;
  --text-md: 1.25rem;
  --text-xl: 1.5rem;
  --text-2xl: 2rem;

  --primary-hsl: 240, 100%;
  --base-lightness: 50%;

  --color-primary-300: hsl(var(--primary-hsl), 65%);
  --color-primary-500: hsl(var(--primary-hsl), var(--base-lightness));
  --color-primary-700: hsl(var(--primary-hsl), 35%);
  --color-primary-900: hsl(var(--primary-hsl), 10%);

  --color-active-500: hsl(134, 61%, 41%);
  --color-active-700: hsl(134, 61%, 31%);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--color-primary-700);
  color: white;
}
li {
  list-style-type: none;
}
.body-container {
  background-color: transparent;
  min-height: 100vh;
}

.font-glitch {
  font-family: "Rubik Glitch", system-ui;
}

h1 {
  font-size: var(--text-2xl);
  padding-block: 2rem;
  text-shadow: 2px 2px 8px hsl(var(--primary-hsl), 5%);
}
h2 {
  font-size: var(--text-xl);
  color: var(--color-primary-500);
  margin: 0.25rem;
  text-align: center;
}
h3 {
  text-align: center;
}

.text-center {
  text-align: center;
}
.place-content-center {
  place-content: center;
}
.place-self-center {
  place-self: center;
}
.flex {
  display: flex;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.justify-between {
  justify-content: space-between;
}
.justify-center {
  justify-content: center;
}
.gap-1 {
  gap: 1rem;
}

.posts-add-post {
  padding-top: 0.25rem;
}
.posts-feed {
  padding-bottom: 1rem;
}

.newPost-card {
  border: 1px solid var(--color-primary-500);
  margin: 1rem;
}

button {
  background-color: white;
  color: var(--color-primary-500);
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
}
button:hover,
.button-blue:hover {
  background-color: var(--color-active-500);
  color: white;
}

.button-likePost.active {
  background-color: var(--color-active-500);
  color: white;
  border: 2px solid var(--color-active-700);

  transform: scale(1.05);
  transition: all 0.2s ease;
}

.button-add-post {
  background-color: var(--color-primary-500);
  color: white;
}

.card {
  min-height: 5rem;
  margin: 1rem 2rem;
  padding-inline: 1rem;
  background:
    linear-gradient(
      135deg,
      hsla(0, 0%, 100%, 0.5) 0%,
      /* Brightest 'shine' at top left */ hsla(0, 0%, 100%, 0.1) 50%,
      /* Mid-tone transition */ transparent 100%
        /* Fades to show the background */
    ),
    hsla(0, 0%, 100%, 0.9);

  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  color: var(--color-primary-900);
  border-radius: 0.25rem;
  filter: drop-shadow(4px 4px 10px hsl(var(--primary-hsl), 5%));
  transition: filter 0.3s ease;
}

.card:hover {
  filter: drop-shadow(8px 8px 15px hsl(var(--primary-hsl), 2%));
}

.button-blue {
  background-color: var(--color-primary-500);
  color: white;
  margin: 0.5rem;
}

.button-blue:focus {
  background-color: var(--color-primary-500);
  border: 1px solid black;
}

input,
a,
textarea {
  font-size: var(--text-sm);
}

input:focus,
a:focus,
textarea:focus {
  outline: 2px solid var(--color-primary-500);
}

.button-likePost,
.button-deletePost {
  place-self: center;
}

.post-button-container,
.posts-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

@media screen and (max-width: 350px) {
  .post-button-container,
  .posts-buttons {
    gap: 0;
  }
}

.li-container {
  background-color: var(--color-primary-700);
  color: white;
  margin: 0.25rem;
  padding: 1rem;
  border-radius: 0.25rem;
}

footer {
  text-align: center;
  justify-self: end;
  margin-top: auto;
  padding: 1rem;
}
